.bloque_texto{
    text-align: justify;
    margin: 2%;

    &__titulo{
        color:rgb(10, 84, 255);
        text-align: center;
        font-size: 15pt;
    }
    &__texto{
        text-align: justify;
        font-size: small;
    }
}



