header{
  background-color: #103b5b;
}
.header{
    display: flex;
    justify-content: space-between;    
    background-color: #103b5b;
    color: white;
    height: 70px;
    margin: 0 5% 0 5%;  

    &
    
    &__logo {
        height: 56px;
        width:  38px;
        margin-top: 15%;
    }
    &__menu--list{
        display: flex;
        box-sizing: inherit;
        list-style: none;
        margin-top: 5%;
        background-color: #103b5b;
        height: 40px;
      &__titulo{
        margin: 5%;
      }
    }
    
}

.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 30px;
    font-size: 9px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    backface-visibility: hidden;
    max-width: 30px;
    margin-top: -15%;
  }
  
  .bn37 {
    font-size:0.8em;
    border-color: transparent;
    background-color: #103b5b;
    color: rgb(255, 255, 255);
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    &:hover {
        border-bottom-color: rgb(120, 185, 245);
  }
    
  .bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }

}
